<section class="header container d-flex justify-content-center justify-content-md-between col-12 text-center">
	<a href=" ../" class="d-none d-md-block iconeContainer"><img src="/assets/images/iconlampblack.png" alt="Icone AVosShouaits"></a>

	<a href="/admin/">
		<h1 class="adminHeaderTitle justify-self-center">Administration</h1>
	</a>

	<a href="#" class="d-none d-md-block iconeUserContainer"><img src="/assets/images/user.png" alt="Icone de Profil"></a>

</section>
<hr>
