<section class="header container d-flex justify-content-between col-12">
	<a href=" ../" class="d-none d-md-block"><img src="public/assets/images/icone" alt="Icone AVosShouaits"></a>
	<h1 class="adminHeaderTitle justify-self-center">Administration</h1>
	<a href="#" class="d-none d-md-block"><img src="public/assets/images/profileIcone" alt="Icone de Profil"></a>
</section>
<hr>
