<section class="header container d-flex justify-content-between">
	<a href=" ../"><img src="public/assets/images/icone" alt="Icone AVosShouaits"></a>
	<h1 class="AdminHeaderTitle justify-self-center">Administration</h1>
	<a href="#"><img src="public/assets/images/profileIcone" alt="Icone de Profil"></a>
</section>
<hr>
