{% extends 'parent.html.twig' %}


{% block title %}Administration
{% endblock %}


{% block content %}

	{% include 'Admin/_userList.html.twig' %}
	{% include "Admin/_genieList.html.twig" %}
	<div>
		<a href="/admin/genie/add">Ajouter Genie</a>
	</div>
	<div>
		<a href="/admin/genie?id=1">Voir un genie</a>
	</div>


{% endblock %}
