{% extends 'parent.html.twig' %}


{% block title %}Administration
{% endblock %}


{% block content %}

	{% include 'Admin/userlist.html.twig' %}
	<div>
		<a href="admin/genies/add">Ajouter Genie</a>
	</div>
	<div>
		<a href="admin/genies/genie?id=1">Voir un genie</a>
	</div>


{% endblock %}
