{% extends 'parent.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block header %}
	{% include "Admin/_adminHeader.html.twig" %}
{% endblock %}

{% block content %}

	<p class="menu usersMenu">Utilisateurs</p>
	{% include "Admin/_userList.html.twig" %}
	<p class="menu productsMenu">Produits</p>
	{% include "Admin/_genieList.html.twig" %}
	<p class="menu productsMenu">Ajouter un utilisateur</p>
	<p class="menu productsMenu">Ajouter un produits</p>
	<p class="menu productsMenu">Ajouter une spécialité</p>




{% endblock %}
