{% extends 'parent.html.twig' %}


{% block title %}Administration
{% endblock %}


{% block content %}
<div class="container">

<h1 class="text-center mb-5" >Administration</h1>

<div class="d-grid gap-3">
  <div class="p-2 bg-light border"><a href="admin/genies/add">Ajouter Genie</a></div>
  <div class="p-2 bg-light border"><a href="admin/genies/genie?id=7">Voir un genie</a></div>
</div>

</div>	
	


{% endblock %}
