<footer
	class="text-center" style="background-color: #f1f1f1;">
	<!-- Grid container -->
	<section
		class="container p-2">
		<!-- Section: Social media -->
		<p class="text-center">Rejoignez-nous sur les réseaux sociaux</p>
		<div class="row d-flex justify-content-around">
			<a href="https://github.com/aldaitzwild/RentADjin" class="col-2 col-md-1"><img src="/assets/images/github.svg"></a>
			<a href="#" class="col-2 col-md-1"><img src="/assets/images/linkedin.svg"></a>
			<a href="#" class="col-2 col-md-1"><img src="/assets/images/facebook.svg"></a>
		</div>
	</section>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center text-dark p-2" style="background-color: rgba(0, 0, 0, 0.2);">
		<p>Contactez-nous:
			<u>support@avossouhaits.com</u>
		</p>
		<p>© 2021 Copyright:</p>
		<p>Sandrine Boutier - Jonathan Permarole - Manuela Quertier</p>
		<!-- Copyright -->
	</footer>
