<nav class="navbar fixed-bottom navbar-light bg-light text-center" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="genies">
      <img src="assets/images/magnifier.png" alt="" width="30" height="24">
      <h6>Explorer</h6>
    </a>
    <a class="navbar-brand" href="#">
      <img src="assets/images/heart.svg" alt="" width="30" height="24">
      <h6>Favoris</h6>
    </a>
    <a class="navbar-brand m-0" href="connection">
      <img src="assets/images/userNav.png" alt="" width="30" height="24">
      <h6>Connection</h6>
    </a>
  </div>
</nav>

