{% extends 'parent.html.twig' %}

{% block stylesheet %}

<link href="assets/css/welcomeStyle.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="title-image">
  	<div class="accueil">
  		<div class="title">
			<img src="assets/images/logo.png">
    		<h1 class="display-1">À Vos Souhaits</h1>
		</div>
		<div class="search">
    		<p>Vous ne savez pas quel Génie choisir?</p>
    		<button>Découvrir</button>
		</div>
  	</div>
</div>
<div class="specialties">

	<h2>Catégories</h2>

	<div class="container scrollmenu">
		<div class="row text-center">
			<div class="col-4">
			<img class="logo" src= "assets/images/activities.png">
				<h3>Activités Physiques</h3>
			</div>
			<div class="col-4">
			<img class="logo" src= "assets/images/meteo.png">
				<h3>Météo</h3>
			</div>
			<div class="col-4">
			<img class="logo" src= "assets/images/love.png">
				<h3>Amour</h3>
			</div>
			<div class="col-4">
			<img class="logo" src= "assets/images/work.png">
				<h3>Travail</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
