{% extends 'parent.html.twig' %}

{% block stylesheet %}

<link href="assets/css/welcomeStyle.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="title-image">
  	<div class="accueil">
  		<div class="title">
			<img src="assets/images/logo.png">
    		<h1 class="display-1">À Vos Souhaits</h1>
		</div>
		<div class="search">
    		<p>Vous ne savez pas quel Génie choisir?</p>
    		<button>Découvrir</button>
		</div>
  	</div>
</div>
<div>

	<h2>Catégories</h2>
	<div class="container scrollmenu">
		<div class="row text-center">
		{% for specialty in specialties %}
			<div class="col-4">
			<img class="logo" src={{specialty.img}}>
				<h3>{{specialty.name}}</h3>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
<div class="favoris">

	<h2>Les Génies du moments</h2>

		<div class="container scrollmenu">
			<div class="row text-center">
				<div class="col-4"></div>
			</div>
		</div>
</div>
{% endblock %}