{% extends 'parent.html.twig' %}

{% block stylesheet %}

<link href="assets/css/welcomeStyle.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="title-image">
  	<div class="accueil">
  		<div class="title">
			<img src="assets/images/logo.png">
    		<h1>A vos souhaits</h1>
		</div>
		<div class="search">
    		<p>Vous ne savez pas quel Génie choisir?</p>
    		<button>Découvrir</button>
		</div>
  	</div>
</div>


	<a href="admin">Admin</a>

{% endblock %}
