{% extends 'parent.html.twig' %}

{% block stylesheet %}

<link href="assets/css/welcomeStyle.css" rel="stylesheet">


{% endblock %}


{% block content %}

<div class="container-fluid title-image">

			<div class="row p-1 d-flex justify-content-between">

					<img class="img col-2" src="assets/images/iconlamp.png">

					<h1 class="title text-light col-10 col-md-2 display-5">À Vos Souhaits</h1>
	

					<div class="col-10 mx-auto col-md-6 align-self-center">
						<input type="search" class="find form-control" placeholder="🔍 Search" aria-label="Search"/>
					</div>

					<a class="find btn m-auto btn-light col-md-1 offset-md-1 d-none d-md-flex justify-content-around">
					<img class="connect" src="assets/images/user.png"><h3>Connection</h3></a>
			</div>

			<div class="row mt-5 p-4">

    		<h1 class="text-light text-center">Vous ne savez pas quel<br> Génie choisir?</h1>
		
    		<button class="find btn btn-light col-5 col-md-1 mx-auto mt-4">Découvrir</button>

			</div>
</div>

	<h2>Découvrez nos catégories</h2>

	<div class="container scrollmenu">
			<div class="row text-center">
			{% for specialty in specialties %}
				<div class="col-4 col-md-2">
				<img class="logo" src={{specialty.img}}>
					<p>{{specialty.name}}</p>
				</div>
			{% endfor %}
			</div>
	</div>


<div class="favoris">

	<h2>Les Génies du moments</h2>

		<div class="container scrollmenu">
			<div class="row text-center">
				<div class="col-4"></div>
			</div>
		</div>
</div>
{% endblock %}

{% block footer %}

{% include "Home/_footer.html.twig" %}

{% endblock %}