:root {
    --primary-color: #090f44;
}

.adminContainer {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 65vw;
    top: 5px;
    left: 27vw;
    max-height: 79vh;
    overflow-y: scroll;
}

.adminGlobalContainer {
    position: relative;
    margin-top: 1.5em;
}

.informationView {
    height: 80vh;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #f3f3f3;
}

.usersMenu,
.usersMenu > button {
    border-radius: 25px 25px 0 0;
}

.addSpecialtyMenu,
.addSpecialtyMenu > button {
    border-radius: 0 0 25px 25px;
}

.menu {
    background-color: var(--primary-color);
    margin-bottom: 1px;
    height: 50px;
    line-height: 50px;
}

button {
    width: 100%;
    color: white !important;
}

.adminHeaderTitle {
    color: var(--primary-color);
    font-size: 40pt;
}

.active {
    opacity: 1;
    pointer-events: auto;
}

.form-control,
.form-select {
    height: 38px;
}

.menuTitle {
    font-size: 20pt;
}

.menuViewTitle {
    margin-top: 1em;
}

.errorsList {
    color: #aa0000;
    margin: 2em 0 0 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .active {
        display: inline-block !important;
    }

    .adminContainer {
        position: unset;
        max-width: 95vw !important;
        width: 95vw;
    }

    .adminHeaderTitle {
        font-size: 24pt;
    }
}
