h1{
    padding: 10px;
}

h2{
    font-size: xx-large;
    padding-top: 10px;
    margin-bottom:-6px;
}
p{
    font-size: small;
}

.description{
    font-size:18px;
    padding:10px;
    text-align: justify;
}
.container{
    width:100%
}
img{
    width:100%;
}

.tile{  
    height: 90px;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
	/*box-sizing: border-box;*/
	background:#c8cbd3;		
	padding: 10px;
}


.title {
	margin-top: 0px;
}
  
.tileimg {
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.btn{
    background-color:#c8cbd3;
}
   