.container{
    margin-top: 10px;
    max-width: 98vw;
}

img{
    width:100%;
}

.costtile, .wishtile, .lamptile, .specialtytile{  
    height:100px;
    text-align: center;
    align-items: center;
    margin:5px;
    border-radius: 10px;
}

.costtile, .wishtile{
    /* background:#c8cbd3; */
    padding-top: 2px;
    border: solid 2px #c8cbd3;
}

.lampimg, .specialtyimg{
    /* max-width: 100%; */
    height: 100px;
    object-fit:contain;
    border-radius: 10px;
    border: solid 2px #c8cbd3;
    padding:2px;
}

h2{
    font-size: 2em;
    padding-top: 10px;
    margin-bottom:-6px;
}

h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.description{
    margin-top: 10px;
}

.description p{
    font-size: 16px;
}

.genie{
    height: auto;
    width:100%;
}
.booking{
    background-color: #c8cbd3;
    height : 280px;
}

@media screen and (min-width:768px){
.tilesblock{
    justify-content:flex-start !important;
}

.specialtytile{
    border-radius: 0px 15px 0px 0px;
}

.costtile{
    border-radius: 0px 0px 15px 0px;
}
.lampimg, .wishtile{
    border-radius: 0px;
}
.specialtyimg{
    border-radius: 0px 10px 0px 0px;
}

.container{
    margin-top: 10px;
    max-width: 800px;
}

.genie{
    height: 80vh;
    width:auto;
}

}

