<section class="formContainer container">
	<div class="row">
		<h2 class="text-center bookingTitle">Réserver ce Génie
		</h2>
	</div>

	<form action="/genies/booking?id={{genieInfo.genieId}}" method="POST" class="row">
		{% if errorsBooking.input is defined %}
			<ul class="errorsList">
				{% if errorsBooking.input.empty is defined %}
					<li>
						{{errorsBooking.input.empty}}
					</li>
				{% endif %}
				{% if errorsBooking.available is defined %}
					<li>
						{{errorsBooking.available}}
					</li>
				{% endif %}
			</ul>
		{% endif %}
		<div class="mb-3 col-12 col-lg-6">
			<label for="checkin" class="form-label text-nowrap">Date de début</label>
			<input type="date" name="checkin" class="form-control" id="checkin" placeholder="31/12/1999" min="{{date}}">
		</div>
		<div class="mb-3 col-12 col-lg-6">
			<label for="checkout" class="form-label">Date de fin</label>
			<input type="date" class="form-control" name="checkout" id="checkout" placeholder="31/12/1999">
		</div>
		<div class="col-12 text-center">
			<button class="btn btn-primary" {% if session.name is defined %} type="submit" {% else %} onclick="#" {% endif %}>
				Reserver</button>
		</div>
	</form>
</section>
